In [1]:
import pandas as pd
import numpy as np
import os

This notebook is intended for turning standardized raw NLP data into text files for use in the RNNs

### Helper functions

In [121]:
def clean_ingredients(ingredients):
    # necessary due to the way .csv stores data. Lists are converted to a long string. Functions returns and actual list of strings
    # and takes opportunity to remove whitespace and unnecessary characters
    full = []
    ingredients = ingredients.replace('\\n', ',').replace('\n',',')
    for string in ingredients.split(','):
        string = ' '.join(string.strip().split())
        string = string.replace("'", '').replace('\\xa0',' ').replace('[','').replace(']','').replace('"','')
        full += string.split(',')
    return full

In [122]:
def create_text_file(col, path, filename):
    with open (f"{path}/{filename}.txt", 'w', encoding='utf-8') as f:
        for i in col:
            f.write(f"{i}\n")

In [123]:
df = pd.read_csv('../data/generated/tidy_recipe_data_all.csv')

In [124]:
df['ingredients'] = df['ingredients'].apply(clean_ingredients)

In [125]:
df['ingredients'].head()

0    [19.72 grams sugar, 13.01 grams cocoa, 9.86 gr...
1    [113.4 grams lamb chop, trimmed of fat and bon...
2    [1.0 beef loin steaks, cut 0.25-inch thick , 3...
3    [1.0 corn tortillas (like Mission Super Size),...
4    [39.43 grams butter, softened , 7.5 grams gree...
Name: ingredients, dtype: object

In [126]:
df.head()

                                         ingredients  label
0  [19.72 grams sugar, 13.01 grams cocoa, 9.86 gr...      0
1  [113.4 grams lamb chop, trimmed of fat and bon...      0
2  [1.0 beef loin steaks, cut 0.25-inch thick , 3...      0
3  [1.0 corn tortillas (like Mission Super Size),...      0
4  [39.43 grams butter, softened , 7.5 grams gree...      0

In [127]:
kf = df[df['label'] == 1]
kf.head()

                                             ingredients  label
10000  [23.66 grams canned chickpeas rinsed and drain...      1
10001  [23.66 grams canned chickpeas rinsed and drain...      1
10002  [23.66 grams canned chickpeas rinsed and drain...      1
10003  [23.66 grams canned chickpeas rinsed and drain...      1
10004  [23.66 grams canned chickpeas rinsed and drain...      1

In [128]:
nkf = df[df['label'] == 0]

In [129]:
#kf.reset_index(inplace=True)

In [130]:
nkf.head()

                                         ingredients  label
0  [19.72 grams sugar, 13.01 grams cocoa, 9.86 gr...      0
1  [113.4 grams lamb chop, trimmed of fat and bon...      0
2  [1.0 beef loin steaks, cut 0.25-inch thick , 3...      0
3  [1.0 corn tortillas (like Mission Super Size),...      0
4  [39.43 grams butter, softened , 7.5 grams gree...      0

In [131]:
len(kf)

8696

In [132]:
len(nkf)

10000

In [135]:
nkf.index[0]

0

In [ ]:
if not os.path.exists('../data/generated/text_files'):
    os.mkdir('../data/generated/text_files')
    os.mkdir('../data/generated/text_files/train')
    os.mkdir('../data/generated/text_files/train/pos')
    os.mkdir('../data/generated/text_files/train/neg')

In [136]:
for i in list(kf.index):
    create_text_file(kf['ingredients'][i], '../data/generated/text_files/train/pos', i)

In [137]:

    
for i in list(nkf.index):
    create_text_file(nkf['ingredients'][i], '../data/generated/text_files/train/neg/', i)

In [3]:
os.mkdir('test')